@model object

@{
    ViewBag.Title = "home";
}

<h2>Home</h2>

<span><strong>Examples:</strong></span>
<ul>
    <li><a href="@Url.Action("SlowToProcess")">Async</a></li>
    <li><a href="@Url.Action("ModelBound")">Model-bound</a></li>
    <li><a href="@Url.Action("ViewContext")">ViewContext</a></li>
    <li><a href="@Url.Action("Nested")">Nested tag helper</a></li>
    <li><a href="@Url.Action("DependencyInjection")">Dependency Injection</a></li>
</ul>

<div>
    My-customer:
    <my-customer></my-customer>
</div>

<div>
    Auto-price:
    <auto-price make="chevy" model-name="camero"></auto-price>
</div>